*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

section{
    padding: 20px;
    width: 1280px;
    margin: 40px auto;
}

section ul{
    display: flex;
    margin-bottom: 10px;
}

section ul li{
    list-style: none;
    background-color: #eee;
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

section ul li.active{
    background-color: #c39d63;
    color: #fff;
}

.groupes{
    display: flex;
    flex-wrap: wrap;
}

.groupes .pays{
    display: flex;
    flex-direction: column;
}

.groupes .itemBox{
    position: relative;
    width: 400px;
    margin: 5px;
}

/*.groupes .itemBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/

/* CSS - JUSTINE PAGANO */
main{
    margin: 0 100px;
}

.name-pays h3{
    padding: 20px;
}

.test{
    flex-wrap: wrap;
    display: flex;
}

.groupe{
    width: 33.33333333%;
    padding: 20px;
}

.groupe img{
    width: 100%;
}