*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'poppins', sans-serif;
}
@font-face {
font-family: "Realist", sans-serif;
src: url(font/realist.ttf), format("ttf"); }

h2{
  font-family: "Realist", sans-serif;
  font-size: 34px;
  color: #c39d63;
  text-align: center;
  margin: 7%; }
h3{
  font-family: "modern antiqua", sans-serif;
  color: #c39d63;
  font-size: 24px; 
  margin: 2%; 
  margin-top: 7%;
  margin-bottom: 3%;}
h4{
  font-size: 20px;
  padding-bottom: 2%; 
  padding-top: 2%;}

li{
font-size: 18px;
line-height: 28px;
margin-left: 5%; }


.wrapper-flex{
  display: flex;
  flex-direction: row;
}

main{
width: 60%;
margin-left: 20%;
margin-right: 20%;
align-self: center; }

.infos{
    width: 33%; }
  

footer{
    width: 100%;
    height: auto; 
    padding-top: 20px;}

----------------------------------------------------------------------------------------------

    .read-more-state1,
    .read-more-state2 {
        display:none;
    }
  
  .read-more-target1,
  .read-more-target2 {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
  
  .read-more-state1:checked ~ .read-more-wrap .read-more-target1,
  .read-more-state2:checked ~ .read-more-wrap .read-more-target2 {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }
  .read-more-state1 ~ .read-more-trigger1:before,
  .read-more-state2 ~ .read-more-trigger2:before {
    content: 'Show more';
  }
  
  .read-more-state1:checked ~ .read-more-trigger1:before, 
  .read-more-state2:checked ~ .read-more-trigger2:before {
    content: 'Show less';
  }
  
  .read-more-trigger1,
  .read-more-trigger2 {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
  }

  input#post-1 {
    display: none;
  }
