*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* CSS - JUSTINE PAGANO */
main{
    margin: 0 100px;
}

#france h3{
    padding: 20px;
}

.test{
    flex-wrap: wrap;
    display: flex;
}

.groupe{
    width: 33.33333333%;
    padding: 20px;
}

.groupe img{
    width: 100%;
}

